<div class="col-md-1 menuItem">
    <i class="bi bi-menu-button-fill"></i>
</div>
<div class="search col-md-5">
    <input type="text" name="search" id="searchtext" placeholder=" Search..." [(ngModel)]="searchKey"
        (input)="onsearch($event)">
    <ul *ngIf="suggestions.length" class="suggest">
        <li *ngFor="let keyword of suggestions; let i = index" (click)="onsearch(keyword)">{{keyword}} <sub
                class="catogaries">in
                catogaries</sub></li>
    </ul>
</div>
<div class="logo col-md-1">
    <a [routerLink]="[ '{{draftItems}}/']">
        <img src="/assets/SPP.png" alt="shop logo" height="45px" width="45px">
    </a>
</div>
<div class="buttons col-md-5">
    <ng-container *ngFor="let item of navigations">
        <a [routerLink]="[item.route]" class="b1" routerLinkActive="active">
            <span [innerHTML]="item.key"></span>
        </a>
    </ng-container>
    <span class="power" (click)="logout()">&nbsp;&nbsp;<span class="bi bi-power"></span>&nbsp;&nbsp;</span>
</div>