.inventory {
    overflow: hidden;
    margin: 0.6rem;
}

.table .thead-dark th {
    text-align: center;
    align-content: center;
}

.sortable {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.billLink{
    cursor: pointer;
}

.billLink :hover {
    text-decoration: underline;
    color: #007bff;
}

.sort {
    display: flex;
    line-height: 0;
    flex-direction: column;
}

.bi-caret-up:hover::before {
    cursor: pointer;
    content: "\f235";
}

.bi-caret-down:hover::before {
    cursor: pointer;
    content: "\f229";
}

select option {
    text-transform: capitalize;
}

input[type='text']:disabled {
    background: transparent;
    border: none;
    color: #000;
    outline: none;
}