<alert message="{{errorMsg}}" alertType="{{type}}"></alert>
<div class="container">
    <div class="card-body p-0 table-responsive">
        <table class="table mb-0">
            <thead>
                <tr>
                    <th scope="col" colspan="2">
                        <strong>
                            <span class="badge badge-success" (click)="filter('compeled')">Compeled Order &nbsp;&nbsp; {{completeOrders}}</span> &nbsp; &nbsp; &nbsp;
                            &nbsp; &nbsp;
                            <span class="badge badge-warning" (click)="filter('placed')">Pending Order &nbsp;&nbsp; {{pendingOrders}}</span>
                        </strong>
                    </th>
                    <th colspan="9">
                    </th>
                    <th>
                        <!-- <button type="button" class="badge badge-success" style="float: right;">+AddProducts</button> -->
                         <a [routerLink]="[ '/admin/addProducts']" class="badge badge-success">+AddProducts</a>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="card-body p-0 table-responsive">
        <table class="table mb-0">
            <thead>
                <tr>
                    <th scope="col">SLNo</th>
                    <th scope="col">Order ID</th>
                    <th scope="col">Date</th>
                    <th scope="col">View Bill</th>
                    <th scope="col">Logistics Partner</th>
                    <th scope="col">Tracking Number</th>
                    <th scope="col" colspan="2">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="orders.length == 0"> 
                    <td colspan="8" style="text-align: center;">Nothing to Display</td>
                </tr>
                <tr *ngFor="let order of orders; let i=index">
                    <td></td>
                    <td>{{order.OrderId}}</td>
                    <td>{{order.orderDate | date: 'dd-mm-yyy'}}</td>
                    <td><span (click)="exportToPdf(i)" style="cursor: pointer;">View Bill</span></td>
                    <td><input type="text" name="partner" id="part"></td>
                    <td><input type="text" name="trackno" id="track"></td>
                    <td>
                        <select name="status" id="orderStatus" class="badge" [ngClass]="getStatus(order.status)" [(ngModel)]="order.status">
                           <option *ngFor="let status of statuses" [value]="status.value"> {{status.option}} </option>
                        </select>
                    </td>
                    <!-- https://codepen.io/Timurtek/pen/mdYOGv -->
                    <!-- <td colspan="2"><strong><span class="badge" [ngClass]="{'badge-warning': order.status === 'PLACED',
                                                                            'badge-success': order.status === 'COMPLETE',
                                                                            'badge-danger': order.status === 'CANCELLED'}">{{order.status}}</span></strong></td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>