<section>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>
                        <div>Image</div>
                    </th>
                    <th>
                        <div>ProductName</div>
                    </th>
                    <th>
                        <div>Description</div>
                    </th>
                    <th>
                        <div>Price</div>
                    </th>
                    <th>
                        <div>stock</div>
                    </th>
                    <th colspan="2">
                        <div>Actions</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="productsList.length == 0">
                    <td colspan="6" style="font-size: 14px !important;text-align: center;">No Products added Yet</td>
                </tr>
                <tr *ngFor="let product of productsList; let i=index">
                    <td><img [src]="product.imageUrl" alt="productImage" srcset="" height="50px" width="50px"
                            *ngIf="!(isEdit && editableItem === i)">
                        <input type="file" *ngIf="isEdit && editableItem === i" style="height: 50px; width: 50px;">
                    </td>
                    <td><input type="text" name="name" id="name" [(ngModel)]="product.name"
                            [disabled]="!(isEdit && editableItem === i)"></td>
                    <td><input type="text" name="name" id="name" [(ngModel)]="product.description"
                            [disabled]="!(isEdit && editableItem === i)"></td>
                    <td><span>₹</span><input type="text" name="name" id="name" [(ngModel)]="product.price"
                            [disabled]="!(isEdit && editableItem === i)"></td>
                    <td>
                        <strong><span class="text"
                                [ngClass]="{'text-danger': product.stockQuantity < 3, 'text-warning': product.stockQuantity < 7}"
                                *ngIf="!isEdit">{{product.stockQuantity}}</span></strong>
                        <input type="text" name="name" id="name" [(ngModel)]="product.stockQuantity"
                            [disabled]="!(isEdit && editableItem === i)" *ngIf="isEdit">
                    </td>
                    <td class="actions">
                        <button type="button" class="btn btn-outline-primary">
                            <span class="bi bi-pencil" (click)="enableEdit(i)">&nbsp;Edit</span>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-success">
                            <span class="bi bi-arrow-up" (click)="updateProduct(i)">update</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
<div class="pagination" *ngIf="productsList.length > 0 ">
    <select name="page" id="page" class="size" (change)="changeSize($event)">
        <option value="15">15</option>
        <option value="30">30</option>
        <option value="50">50</option>
        <option value="75">75</option>
        <option value="100">100</option>
    </select>
    <button type="button" [disabled]="currentpage === 0" (click)="goToFirst()">
        << First</button>
            <button type="button" *ngFor="let page of pages; let i = index" (click)="fetchProducts(page-1, size)"
                [ngClass]="{'active': currentpage === page-1}">{{page}}</button>
            <button type="button" [disabled]="currentpage === totalPages-1" (click)="goToLast()">Last >></button>
</div>