.form{
    margin: 7% 35%;
    z-index: 10000;
    width: auto;
    height: auto;
    border: 1px solid grey;
    border-radius: 20px;
}
#login, #signup, #change{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: center;
}
.user{
    margin-top: 15px;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid silver;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
label{
    margin-top: 10px;
}
.user:focus{
    outline: none;
    font-weight: bold;
    border-bottom-color: teal;
}

button{
    margin-top: 20px;
    width: 112px;
    color: whitesmoke;
    background-color: royalblue;
    font-size: larger;
    font-weight: bolder;
    font-family: monospace;
}
button:hover{
    cursor: pointer;
    background-color: royalblue;
    outline: none;
    border-radius: 5px;
}
button:disabled{
    color: whitesmoke;
    background-color: cornflowerblue;
    cursor: not-allowed;
}
.links {
    display: flex;
    justify-content: space-around;
}
.links :hover{
    color: red;
    text-decoration: underline;
    cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}