<div class="inventory">
    <div class="table-responsive">
        <ng-template #noProducts>
            <table class="noData" *ngIf="productsList.length === 0">
                <thead>
                    <tr colspan="6">
                        <td><Strong>No Products in Inventory. to add producs <a [routerLink]="['/admin/addProducts']">
                                    click here</a>.</Strong></td>
                    </tr>
                </thead>
            </table>
        </ng-template>

        <table class="table table-striped table-light table-bordere" *ngIf="productsList.length > 0; else noProducts">
            <thead class=" table-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">ActiveProduct</th>
                    <th scope="col">PreView</th>
                    <th scope="col"><span class="sortable"><span>ProductName</span><span class="sort"><i
                                    class="bi bi-caret-up" (click)="sortProducts('name',true)"></i><i
                                    class="bi bi-caret-down" (click)="sortProducts('name',false)"></i></span></span>
                    </th>
                    <th scope="col">ProductDescription</th>
                    <th scope="col"><span class="sortable"><span>ProductQuantity</span><span class="sort"><i
                                    class="bi bi-caret-up" (click)="sortProducts('stockQuantity',true)"></i><i
                                    class="bi bi-caret-down"
                                    (click)="sortProducts('stockQuantity',false)"></i></span></span></th>
                    <th scope="col"><span class="sortable"><span>ProductPrizing</span><span class="sort"><i
                                    class="bi bi-caret-up" (click)="sortProducts('price',true)"></i><i
                                    class="bi bi-caret-down" (click)="sortProducts('price',false)"></i></span></span>
                    </th>
                    <th scope="col"><span class="sortable"><span>Discount</span><span class="sort"><i
                                    class="bi bi-caret-up" (click)="sortProducts('discount',true)"></i><i
                                    class="bi bi-caret-down" (click)="sortProducts('discount',false)"></i></span></span>
                    </th>
                    <th scope="col" colspan="2">RequiredAction</th>
                </tr>
            </thead>
            <tbody class=" table-hover ">
                <ng-container *ngFor="let product of (productController._ProductDTO | async);let index=index">
                    <tr [class.editor]="editableItem === product.id">
                        <td scope="row">{{product.id}}</td>
                        <ng-container *ngIf="editableItem !== product.id">
                            <td scope="row">
                                <label class="switch">
                                    <input type="checkbox" [checked]="product.active" disabled>
                                    <span class="slider round"></span>
                                </label>
                            </td>
                            <td><img src="{{product.imageUrl}}" alt="{{product.name}}" height="60" width="50" srcset=""
                                    class="table-image-preview"></td>
                            <td>{{product.name}}</td>
                            <td>{{product.description}}</td>
                            <td>{{product.stockQuantity}}</td>
                            <td>{{product.price | currency: 'INR': 'symbol'}}</td>
                            <td>{{product.discount + ' %'|| 0 + ' %'}}</td>
                        </ng-container>
                        <ng-container *ngIf="editableItem === product.id">
                            <td scope="row">
                                <label class="switch">
                                    <input type="checkbox" [checked]="product.active" [(ngModel)]="flagCheck.active">
                                    <span class="slider round"></span>
                                </label>
                            </td>
                            <td>
                                <img src="{{product.imageUrl}}" alt="{{product.name}}" height="60" width="50" srcset=""
                                    class="table-image-preview">
                                <input type="file" name="pic" accept="png" (change)="multipart($event)">
                            </td>
                            <td>{{product.name}}</td>
                            <td>{{product.description}}</td>
                            <td><input type="text" name="" [id]="product.name + index"
                                    [(ngModel)]="flagCheck.stockQuantity" (input)="restrictText($event, 'quantity')"
                                    maxlength="5"></td>
                            <td><input type="text" name="" [id]="product.name + index" [(ngModel)]="flagCheck.price"
                                    (input)="restrictText($event, 'price')" maxlength="6"></td>
                            <td><input type="text" name="" [id]="product.name + index" [(ngModel)]="flagCheck.discount"
                                    (input)="restrictText($event, 'discount')" maxlength="6"></td>
                        </ng-container>
                        <td><button type="button" class="btn btn-sm btn-outline-info" data-toggle="tooltip"
                                data-placement="left" title="Edit" (click)="enableEdit(product.id)"><i
                                    ngClass=" isEdit ? bi-sm bi-pen-fill : bi-sm bi-pen"></i></button></td>
                        <td><button type="button" class="btn btn-sm btn-outline-primary" data-toggle="tooltip"
                                data-placement="bottom" title="Update" (click)="updateProduct(product.id)"
                                *ngIf="isEdit">Save</button></td>
                        <!-- <td><button type="button" class="btn btn-sm btn-outline-danger" data-toggle="tooltip"
                                *ngIf="isEdit" (click)="deleteProduct(product.id)" data-placement="right"
                                title="Delete"><i class="bi bi-sm bi-trash-fill"></i></button>
                        </td> -->
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>