#product_information {
	display: flex;
	flex-direction: row;
	gap: 1%;
	justify-content: center;
	align-items: center;
}

#image_preview {
	height: 300px;
	width: 330px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 5px;
	text-align: center;
}

#product_image {
	height: 300px;
	width: 336px;
	display: flex;
	flex-direction: column;
	justify-items: center;
	justify-content: center;
	border: 1px solid;
	overflow: hidden;
}

#product_details {
	float: left;
	margin: 20px;
	text-transform: uppercase;
	font-size: 15px;
	/*font-style: normal;*/
	font-family: 'Lato';
	width: 60%;
}

#product_details label {
	/*font-size: 1.5em;*/
	font-weight: 700;
}

#product_control {
	float: left;
	/* width: 90%; */
}

#product_information #product_details button,
.table-container button {
	background-color: #ffc107;
	color: white;
	height: 30px;
	border-radius: 4px;
	outline: none;
	border: 0px solid white;
	width: 40%;
	float: right;
	margin: 0;
	margin-right: -15px;
	margin-top: 25px;
	letter-spacing: 5px;
	padding: 5px 0px;
	box-shadow: 1px 1px 2px 2px rgba(17, 66, 55, 0.4),
		-1px -1px 2px 2px rgba(17, 66, 55, 0.4);
}

#product_information #product_details button:disabled {
	cursor: none;
	background-color: #ffc10742;
}

button:hover {
	background-color: #ffc107d3;
	box-shadow: 1px 1px 2px 2px rgba(17, 66, 55, 0.4),
		-1px -1px 2px 2px rgba(17, 66, 55, 0.4);
}

input[type="text"],
input[type="number"] {
	background-color: transparent;
	box-shadow: 1px 1px 2px 2px rgba(17, 66, 55, 0.4),
		-1px -1px 2px 2px rgba(17, 66, 55, 0.4);

	width: 100%;
	line-height: 2.0;
	border: 0px solid white;
	color: #176655;
	font-size: 15px;
	border-radius: 4px;
	/*padding-left: 10px;*/
}

#product_information * {
	margin: 1% 2%;
}

/* table */
.table-container {
	background: #fff;
	border: 1px solid #666;
	border-radius: 0.5rem;
	overflow: auto;
	overscroll-behavior: none;
	max-height: calc(100vh - 2rem - 2px);
	/* padding: 0; */
}

table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
	font-size: 1rem;
}

th,
td {
	padding: 0.35rem;
	vertical-align: middle;
	border-bottom: 1px solid #dee2e6;
	border-right: 1px solid #dee2e6;
	overflow: hidden;
}

th {
	background-color: #333;
	color: #fff;
	font-weight: 500;
	text-align: left;
	position: sticky;
	top: 0;
	z-index: 20;
	white-space: nowrap;
	padding-top: 0.6rem;
	padding-bottom: 0.65rem;
}

td {
	min-width: 6rem;
}