<div class="cart">
  <div class="col-12 col-md-12 header d-flex flex-row align-items-center p-1">
    <label for="header" class="float-left col-10 col-md-11 h3"><strong>Item In cart</strong></label>
    <!-- <label for="header" class="float-right col-2 col-md-1 h6 text-danger"><strong>removeItem</strong></label> -->
  </div>
  <strong>
    <hr>
  </strong>
  <div class="noData" *ngIf="cartItems.length === 0">
    <Strong>No Products in Inventory. to add producs <a [routerLink]="[ 'user/productsList']">
        click here</a>.</Strong>
  </div>
  <ng-container #prod *ngIf="cartItems.length >0">
    <div class="col-12-col-md-12 d-flex align-items-center justify-content-center hs">
      <div for="" class="col-3 col-md-3 text-start h5">Product Image</div>
      <div for="" class="col-4 col-md-4 text-start h5">product Name</div>
      <div for="" class="col-1 col-md-1 text-center h5">Quantity</div>
      <div for="" class="col-2 col-md-2 text-center h5">Rate</div>
      <div for="" class="col-2 col-md-2 text-center h5">Amount</div>
    </div>
    <div class="col-12-col-md-12 d-flex align-items-center justify-content-between p-3"
      *ngFor="let item of (cartController.$cartProducts | async)">
      <img src="{{item.product.imageUrl}}" class="col-3 col-md-3 float-left product-img" alt="{{item.product.name}}">
      <label for="name" class="col-4 col-md-4">{{item.product.name}}</label>
      <div class="quantity col-1 col-md-1">
        <button class="minus" aria-label="Decrease" (click)="updateProduct('Decrease',item.id)"
          *ngIf="item.quantity > 1">&minus;</button>
        <button class="minus" aria-label="Decrease" (click)="updateProduct('Decrease',item.id)"
          *ngIf="item.quantity <= 1"><i class="bi bi-trash"></i></button>
        <input type="number" class="input-box" [(ngModel)]="item.quantity" min="1" max="3">
        <button class="plus" aria-label="Increase" (click)="updateProduct('Increase',item.id)">&plus;</button>
      </div>
      <label for="qty" class="col-2 col-md-2 text-center">{{item.finalPrice}}</label>
      <label for="qty" class="col-2 col-md-2 text-center">{{item.finalPrice * item.quantity}}</label>
    </div>
    <div class="float-right p-3 d-flex flex-column col-md-5 col-6 justify-content-end">
      <label for="" class="float-right h5 ml-auto">Grand Total:&nbsp;₹ {{ totalPrice}} /-</label>
      <button type="submit" class="btn btn-outline-primary float-right col-md-4 col-3 ml-auto"
        (click)="submitOrder()">Place Order</button>
    </div>
  </ng-container>

</div>