 
<div class="wrap">
  <span class="back"> <a [routerLink]="[ '/productsList']">Back to Shop</a></span>
  <div class="cart-header cf">
    <strong>Items in Your Cart</strong>
    <span class="btn" (click)="onCheckout()">Checkout</span>
  </div>
  <div class="cart-table">
    <ul>
      <!-- begin simple product -->
      <li class="item" *ngFor="let cartItem of cartItems; let i = index">
        <div class="item-main cf">
          <div class="item-block ib-info cf">
            <img class="product-img" [src]="cartItem.product.imageUrl" />
            <div class="ib-info-meta">
              <span class="title">{{cartItem.product.name}}</span>
              <span class="itemno"><small>{{cartItem.product.description}}</small></span>
            </div>
          </div>
          <div class="item-block ib-qty">
            <input type="text" [(ngModel)]="cartItem.qty" class="qty" (focusout)="updateCart(i); getSubtotal();" />
            <span class="price"><span>x</span>₹ {{cartItem.product.price}}</span>
          </div>
          <div class="item-block ib-total-price">
            <span class="tp-price">₹ {{cartItem.subTotal}}</span>
            <span class="tp-remove"><i class="i-cancel-circle"></i></span>
          </div>
        </div>
        <div class="item-foot cf" *ngIf="cartItem.qty > 0">
          <!-- <div class="if-message"><p>Space Reserved for item/promo related messaging</p></div> -->
          <div class="if-left"><span class="if-status">In Stock</span></div>
          <div class="if-right"><!-- <span class="blue-link">Subscription Options</span> | --><span
              class="blue-link">Add to Wishlist</span></div>
        </div>
      </li>
      <!-- end simple product -->
    </ul>
  </div>
  <div class="sub-table cf">
    <div class="summary-block">
      <div class="sb-promo">
        <input type="text" placeholder="Enter Promo Code" />
        <span class="btn">Apply</span>
      </div>
      <ul>
        <li class="subtotal"><span class="sb-label">Subtotal</span><span class="sb-value">₹ {{getSubtotal()}}</span>
        </li>
        <li class="shipping"><span class="sb-label">Shipping</span><span class="sb-value">n/a</span></li>
        <li class="tax"><span class="sb-label">Est. Tax | <span class="tax-edit">edit <i
                class="i-notch-down"></i></span></span><span class="sb-value">0.00</span></li>
        <li class="tax-calculate"><input type="text" value="06484" class="tax" /><span class="btn">Calculate</span></li>
        <li class="grand-total"><span class="sb-label">Total</span><span class="sb-value">₹ {{gTotal()}}</span></li>
      </ul>
    </div>
    <div class="copy-block">
      <p>Items will be saved in your cart for 30 days. To save items longer, add them to your <a href="#">Wish List</a>.
      </p>
      <p class="customer-care">
        Call us M-F 8:00 am to 6:00 pm EST<br />
        (877)-555-5555 or <a href="#">contact us</a>. <br />
      </p>
    </div>
  </div>

  <div class="cart-footer cf">
    <span class="btn" (click)="onCheckout()">Checkout</span>
    <span class="cont-shopping" (click)="navigate()"><i class="i-angle-left"></i>Continue Shopping</span>
  </div>
</div>