.alert {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    border-radius: 5px;
    /* color: white; */
    font-size: large;
    font-weight: bold;
    z-index: 1000000;
    transition: opacity 0.5s;   
}

.success {
    background-color: rgba(76, 175, 79, 0.514);
    border: solid 1px rgb(172 129 0);
}

.warning {
    background-color: rgba(247, 207, 85, 0.514);
    border: solid 1px rgb(172 129 0);
}

.error {
    background-color: rgba(244, 67, 54, 0.514);
    border: solid 1px rgb(172 129 0);
}

button{
    background: transparent;
    font-size: larger;
    border: none;
}