.alert {
    position: fixed;
    top: 50px;
    right: 20px;
    padding: 16px 24px;
    border-radius: 6px;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease;
    z-index: 9999;
    color: white;
}

.isVisible{
    opacity: 1;
    transform: translateY(0);
}

.success {
    background-color: #4caf50;
    border: solid 1px rgb(172 129 0);
}

.warning {
    background-color: #ff9800;
    border: solid 1px rgb(172 129 0);
}

.error {
    background-color: #f44336;
    border: solid 1px rgb(172 129 0);
}

button{
    background: transparent;
    font-size: larger;
    border: none;
}